<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.trade.mapper.DeliveryMapper">
	<!-- 배송 목록 조회(기업) -->
	<select id="selectBizDeliveryList" resultType="map">
		SELECT
			c.contract_no AS contractNo,
			c.down_payment AS downPayment,
			CASE c.down_payment_status
				WHEN 'PS001' THEN '입금전'
				WHEN 'PS002' THEN '입금완료'
			END AS downPaymentStatus,
			c.down_payment_date AS downPaymentDate,
			c.final_payment AS finalPayment,
			CASE c.final_payment_status
				WHEN 'PS001' THEN '입금전'
				WHEN 'PS002' THEN '입금완료'
			END AS finalPaymentStatus,
			c.final_payment_date AS finalPaymentDate,
			CONCAT('(', a.postal, ') ', a.address, ' ', a.detail_address) AS address,
			CASE cd.contract_delivery_status
				WHEN 'DS001' THEN '배송대기'
				WHEN 'DS002' THEN '배송중'
				WHEN 'DS003' THEN '배송완료'
				WHEN 'DS004' THEN '반품대기'
				WHEN 'DS005' THEN '반품완료'
				WHEN 'DS006' THEN '교환대기'
				WHEN 'DS007' THEN '교환중'
				WHEN 'DS008' THEN '교환완료'
				WHEN 'DS009' THEN '상품회수'
			END AS contractDeliveryStatus,
			cd.contract_delivery_time AS contractDeliveryTime,
			cd.contract_delivery_no AS contractDeliveryNo
		FROM contract c INNER JOIN quotation q ON c.quotation_no = q.quotation_no
		INNER JOIN (SELECT
						product_request_no,
						ANY_VALUE(address_no) as address_no,
						ANY_VALUE(create_user) as create_user
					FROM product_request
					GROUP BY product_request_no) t ON q.product_request_no = t.product_request_no
		INNER JOIN address a ON t.address_no = a.address_no
		INNER JOIN container ct ON c.contract_no = ct.contract_no
		LEFT JOIN contract_delivery cd ON ct.container_no = cd.container_no
		WHERE t.create_user = #{username}
		ORDER BY c.contract_no DESC
	</select>
	
	<!-- 배송 상세 조회(기업) -->
	<select id="selectBizDeliveryOne" parameterType="com.example.trade.dto.DeliveryHistory" resultType="com.example.trade.dto.DeliveryHistory">
		SELECT
			delivery_company AS deliveryCompany,
			tracking_no AS trackingNo,
			update_date AS updateDate,
			CASE delivery_status
				WHEN 'DS001' THEN '배송대기'
				WHEN 'DS002' THEN '배송중'
				WHEN 'DS003' THEN '배송완료'
				WHEN 'DS004' THEN '반품대기'
				WHEN 'DS005' THEN '반품완료'
				WHEN 'DS006' THEN '교환대기'
				WHEN 'DS007' THEN '교환중'
				WHEN 'DS008' THEN '교환완료'
				WHEN 'DS009' THEN '상품회수'
			END AS deliveryStatus
		FROM delivery_history
		WHERE contract_delivery_no = #{contractDeliveryNo}
	</select>
	
	<!-- 배송 상세 조회(개인) -->
	<select id="selectPersonalDeliveryBySubOrderNo" parameterType="com.example.trade.dto.DeliveryHistory" resultType="map">
		SELECT
			dh.delivery_company AS deliveryCompany,
			dh.tracking_no AS trackingNo,
			dh.update_date AS updateDate,
			ct.code_name AS deliveryStatus
		FROM delivery_history dh INNER JOIN comm_tbl ct ON dh.delivery_status = ct.code_number
		WHERE order_no = #{orderNo}
		AND sub_order_no = #{subOrderNo}
	</select>
	
	<!-- 교환/반품 신청 처리 -->
	<update id="updateExchangeReturn" parameterType="com.example.trade.dto.Order">
		UPDATE `order`
		<set>
			<if test="deliveryStatus == 'DS006'"> <!-- 교환 -->
				exchange_quantity = #{exchangeQuantity},
				exchange_reason = #{exchangeReason},
				exchange_request_time = NOW(),
				delivery_status = #{deliveryStatus},
			</if>
			<if test="deliveryStatus == 'DS004'"> <!-- 반품 -->
				return_quantity = #{returnQuantity},
				return_reason = #{returnReason},
				return_request_time = NOW(),
				delivery_status = #{deliveryStatus},
			</if>
			update_user = #{updateUser},
			update_date = NOW()
		</set>
		WHERE order_no = #{orderNo}
		AND sub_order_no = #{subOrderNo}
	</update>
</mapper>